<div>
  Olá {{delivery_man}}, uma encomenda foi disponível, veja abaixo os detalhes:
  <p>
    Produto: <strong>{{product}}</strong>
  </p>
  <p>
    Destinatário: <strong>{{name}}</strong>
  </p>
<p>
  Endereço para entrega: <strong>
      {{address}}
    </strong>
</p>

</div>
